@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#wrap {
  display: flex;
  flex-direction: column;
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    .nav_left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 190px;
      font-size: 20px;
      .logo_icon {
        height: 100%;
        padding-right: 35px;
        border-right: 2px solid #000;
        font-weight: 500;
        font-size: 25px;
      }

      .nav_left > h1 {
        font-family: 'Lobster', cursive;
      }
    }
    .nav_center .navSearch {
      width: 180px;
      height: 25px;
      border: 1px solid #e6e6e6;
      border-radius: 3px;
      background-color: #fafafa;
      text-align: center;
      font-size: 13px;
      outline: none;
    }
    .nav_right {
      display: flex;
      justify-content: space-between;
      .navImg {
        width: 15%;
        height: 15%;
      }
    }
  }
  #main {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 1000px;
    background: #fafafa;

    .feeds {
      width: 550px;
      height: auto;

      .feed_in {
        width: 550px;
        height: auto;
        border: 1px solid #e6e6e6;
        background-color: #fff;

        .feed_in div {
          width: 550px;
        }

        .profile {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          padding: 0 12px;

          .profileName {
            margin-left: -70%;
            font-weight: bold;
          }

          .profileImg {
            width: 40px;
            height: 40px;
            border: 1px solid #e6e6e6;
            border-radius: 50%;
          }
        }
        .feed_img {
          height: 650px;

          .feedImg {
            width: 550px;
            height: 650px;
          }
        }
        .feed_icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 50px;
          padding: 0 15px;
          font-size: 25px;

          .heart {
            margin-right: 10px;
            color: red;
          }

          .comment {
            margin-right: 10px;
            transform: rotateY(180deg);
          }
        }
        .feed_like {
          padding: 0 12px;

          .name {
            margin-right: 10px;
            font-weight: bold;
          }

          .like_who {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .likeWhoImg {
              width: 25px;
              height: 25px;
              margin-right: 10px;
              border-radius: 50%;
              border: 1px solid #e6e6e6;
            }
          }
          .comment_addBoxtitle {
            display: flex;
            justify-content: space-between;

            .comment_add {
              .like_heart {
                color: #ccc;
                padding-right: 20px;
              }
              .name {
                margin-right: 12px;
                font-weight: bold;
              }
            }
          }
          .feed_time {
            margin-top: 10px;
            color: #ccc;
            font-size: 14px;
          }
        }

        .feed_comment {
          position: relative;
          padding: 10px;
          border-top: 1px solid #e6e6e6;

          .comment_in {
            width: 90%;
            border: none;
            outline: none;

            .comment::placeholder {
              color: #ccc;
              font-size: 13px;
            }
          }
          .btn {
            position: absolute;
            top: 15px;
            right: 10px;
            color: lightskyblue;
            background: none;
            border: none;
            font-size: 14px;
          }
        }
      }
    }
    .main-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 340px;
      height: 550px;
      margin: 50px 10px 0 20px;

      .main-right > div {
        width: 320px;
      }

      .right_profile {
        display: flex;
        align-items: center;
        height: 45px;
        font-weight: bold;

        .rightProfileImg {
          width: 50px;
          height: 50px;
          margin-right: 15px;
          border-radius: 50%;
        }

        .profile_name {
          color: gray;
          font-weight: 400;
        }
      }
      .right_story {
        height: 190px;
        padding: 12px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #e6e6e6;
        overflow: scroll;

        .title {
          margin-bottom: 10px;
          color: gray;
          font-size: 14px;
        }
        .more {
          float: right;

          a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
          }
        }
        .story_list {
          .storyList {
            margin-bottom: 10px;
            border-radius: 50%;
          }
          .listImg {
            float: left;
            width: 35px;
            height: 35px;
            margin-right: 10px;
            border-radius: 50%;
            border: 2px solid transparent;
            background-image: linear-gradient(#fff, #fff),
              linear-gradient(to right, red 0%, orange 100%);
            background-origin: border-box;
            background-clip: content-box, border-box;
          }
          .listName {
            font-weight: bold;
          }
          .listTime {
            color: gray;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
      .right_recommend {
        height: 190px;
        padding: 12px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #e6e6e6;

        .title {
          margin-bottom: 10px;
          color: gray;
          font-size: 14px;
        }
        .more {
          float: right;
          a {
            color: #000;
            text-decoration: none;
            font-weight: bold;
          }
        }
        .recommend_box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .re_name {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            overflow: hidden;

            .reImg {
              float: left;
              width: 30px;
              height: 30px;
              margin-right: 10px;
              border-radius: 50%;
            }
            .recommendFollow {
              color: gray;
              font-weight: 400;
              font-size: 14px;
            }
          }
          .re_follow {
            white-space: nowrap;

            a {
              color: #3f9af1;
              text-decoration: none;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
.main_footer {
  height: 80px;
  white-space: inherit;
  line-height: 1.5;
  font-size: 14px;

  .footBox {
    display: flex;
    flex-wrap: wrap;
    width: 300px;

    a {
      color: #ddd;
      text-decoration: none;
    }
  }
}
.foot_copy {
  color: #ddd;
  font-size: 14px;
}
