* {
  box-sizing: border-box;
  margin: 0px;

  .loginWrapper {
    display: flex;
    justify-content: center;
    background-color: #ededed;
    height: 100vh;
    align-items: center;

    .container {
      width: 500px;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid rgb(180, 180, 180);
      background-color: white;

      .top {
        width: 400px;
        height: 400px;
        margin: 40px auto;

        h2 {
          text-align: center;
          font-family: 'Lobster', cursive;
          font-size: 70px;
          margin-bottom: 45px;
        }

        .inputbox {
          display: flex;
          flex-direction: column;
          margin: 30px 0;

          .idInput {
            background-color: #f5f8fa;
            width: 400px;
            height: 50px;
            border: 2px solid #cfd7de;
            border-radius: 5px;
            margin-bottom: 10px;
          }
        }
        .loginAbled {
          background-color: rgb(0, 149, 246);
          color: white;
          font-size: 20px;
          border-radius: 5px;
          width: 400px;
          height: 40px;
          border: none;
        }
        .loginDisabled {
          background-color: tomato;
          color: white;
          font-size: 20px;
          border-radius: 5px;
          width: 400px;
          height: 40px;
          border: none;
        }
      }
      .bottom {
        display: flex;
        justify-content: center;
        width: 400px;
        height: 100px;
        margin: 0 auto;

        span {
          padding-top: 50px;
          color: #41648c;
          text-decoration: none;
        }
      }
    }
  }
}
